*{
    box-sizing: border-box;
}

.body{
 

    font-family: "Ubuntu", sans-serif;
    font-weight:300;
    
    
}

#linhaNavBar{
    position: absolute;
    height: 6px;
    margin-top: 10%;
    background-color:#37b349;
    width:100%;  
  }

  #linhaRodape{
        position: absolute;
        height: 6px;
        margin-top: 20%;
        background-color:#37b349;
        width:100%;  

  }

.carrossel{
    box-shadow: 2px 2px 4px #0000;
    overflow: hidden;
    height: auto;
    width: 500px;
    margin-left: 10%;
    position: absolute
}


.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translate(0);
}

#foto{
    object-fit: cover;
    height: 400px;
    width: 500px;
    margin-top: 40%;
    background-color: #ffffff;
    opacity: 0.6;

}

#comoFunciona{
    margin-left: 25%;
}
.transpecial{
    margin-top: 20%;
    position: relative;
    margin-left: 50%;
    font-family: "Ubuntu", sans-serif;
    
}


#butN {
    margin-left: 70%;
    position: relative;
    margin-top: 45%;
    width: 22%;
    cursor: pointer;
    background: #37b349;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    transition: all 0.2s linear;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}