#rodape {
    display: block;
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    /* line-height: 0.3; */
    margin-top: 30%;
    margin-bottom: 17%;
}


.portal{
    text-align: center;
    padding: 10px;
}

a#link-login,
a#link-agendar,
a#link-consultar {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 15px;


}

a#portal{
    text-decoration: none;
    color: #37b349;
    font-size: 9.13px;
}

.subtitulo {
    font-size: 0.975em;
    font-weight: bold;
    margin: 5px;
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    margin:auto;
}

.inf{
    font-size: 9.13px;
    margin-top: 10px;
}